# backend

BACKEND_PORT=8080

# frontend

FRONTEND_PORT=5000
VITE_API_BASE=http://localhost:${BACKEND_PORT}
VITE_WS_BASE=ws://localhost:${BACKEND_PORT}

# database

DB_PORT=5432
DB_HOST=db
DB_USER=stratego
DB_PASSWORD=password
